<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.origins-tracker</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/env</string><string>python3</string>
    <string>__HERE__/tracker.py</string><string>serve</string>
  </array>
  <key>WorkingDirectory</key><string>__HERE__</string>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>StandardOutPath</key><string>__HERE__/data/tracker.log</string>
  <key>StandardErrorPath</key><string>__HERE__/data/tracker.log</string>
</dict>
</plist>
